#grid {
    display: grid;
    width: 250px;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(5, 50px);
    padding: 0;
    margin: 0 auto;
    -webkit-user-select : none;
    user-select: none; /*disables user highlighting of text*/
}

.grid-item {
    border: 1px solid;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.selected {
    background-color: azure;
}

